/*Планшетная версия сайта*/

@media (max-width: 1200px) {
    .header-menu {
        position: relative;
    }

    .logo {
        width: 158px;
    }

    .nav-wrapper {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .burger-line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
    }

    .title-text {
        font-size: 2.5rem;
    }

    .trends-wrapper {
        flex-wrap: wrap;
        gap: 0;
    }

    .trends-box {
        width: 49.7%;
    }

    .trends-box:nth-child(n+3) {
        margin-top: 5px;
    }

    .page-content,
    .goods-wrapper {
        padding: 0;
    }

    .page-content {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .page-content {
        justify-content: space-around;
    }

    .main {
        max-width: 392px;
    }

    .article {
        flex-direction: column;
    }

    .article::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #eeeeee;
        margin-top: 19px;
    }

    .article-header {
        margin-top: 12px;
        padding-left: 0;
    }

    .article-text>p {
        margin-top: -15px;
    }

    .goods {
        flex-direction: column;
    }

    .goods-box {
        width: calc((100% / 2) - 15px);
    }

    .goods-box:nth-child(even) {
        margin-left: 15px;
    }

    .goods-box:last-child {
        margin-top: 29px;
    }

    .goods-wrapper {
        flex-wrap: wrap;
        gap: 0;

    }
}

/*Мобильная версия сайта*/

@media (max-width: 640px) {
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
    .header {
        min-height: 90vh;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-menu {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .logo {
        margin: 0 auto;
        width: 90%;
        max-width: 250px;
    }
    .burger-menu {
        margin-bottom: 170px;
    }
    .title {
        margin-top: 40px;
    }
    .title-text {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }
    .page {
        margin: 40px 0;
    }
    .article {
        margin-bottom: 35px;
    }
    .trends {
        margin-bottom: 44px;
    }
    .trends-box {
        width: 100%;
    }
    .trends-box:first-child {
        margin-bottom: 5px;
    }
    .trends-title-href {
        font-size: 1rem;
    }
    .page-content {
        flex-direction: column;
    }
    .main, .aside {
        width: 100%;
        max-width: 100%;
    }
    .article {
        align-items: center;
    }
    .article-title {
        font-size: 1rem;
    }
    .article-text>p {
        font-size: 0.9rem;
    }
    .posts-title {
        font-size: 0.9rem;
    }
    .goods-wrapper {
        flex-direction: column;
    }
    .goods-box {
        width: 100%;
        margin-bottom: 25px;
    }
    .goods-box:nth-child(even) {
        margin-left: 0;
    }
}